.form
  = nested_form_for @vacancy, html: {class: 'form-horizontal' } do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :salary
      = f.text_field :salary, class: 'form-control'
    .form-group
      = f.label :contacts
      = f.text_area :contacts, class: 'form-control'
    .form-group
      = f.label :expiration_date
      = f.date_field :expiration_date, class: 'form-control'
    = f.submit t('save'), class: 'btn btn-default'
